body{
 background-color:lavender;   
}

h1{
text-align:center;
color:grey;
border:5px dotted grey;
}

p{
    color:grey;
}
input{
    border: 1px outset grey;
}

.h6{
    color:grey;
    font-style: italic;
}
#box{
    text-align:center;
    background-color:grey;
    width: 300px;
    height:250px;
    margin: 100px;
    color:lavender;
}
li{
    color:lavender;
}
#red{
    color:red;
}
#blue{
    color:blue;
}

.b{
 background-color:grey;
 width:100px;
 height:100px;
 border:1px solid black;
 text-align:center;
 color:lavender 
}
.row{
    text-align:center;
}
.aes{
border: 1px solid grey;
}